################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CityAnalyser/v15
/CityAnalyser/obj/Debug
